:root {
  /* fonts */
  --font-inter: Inter;
  --font-lato: Lato;
  --font-roboto: Roboto;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-6xs: 11px;
  --font-size-5xs: 12px;
  --font-size-4xs: 15px;
  --font-size-3xs: 16px;
  --font-size-2xs: 18px;
  --font-size-xs: 20px;
  --font-size-sm: 22px;
  --font-size-base: 24px;
  --font-size-lg: 25px;
  --font-size-xl: 30px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 40px;
  --font-size-5xl: 48px;
  --font-size-6xl: 50px;
  --font-size-7xl: 64px;
  --font-size-8xl: 80px;
  --font-size-9xl: 96px;
  --font-size-10xl: 128px;

  /* Colors */
  --color-gold: #f2e14b;
  --color-black: #000;
  --color-gray-100: #fbfdfe;
  --color-gray-200: #808080;
  --color-gray-300: #837878;
  --color-gray-400: #0f0f0f;
  --color-gray-500: #100b0b;
  --color-white: #fff;
  --color-dimgray-100: #7a5b5b;
  --color-dimgray-200: #605858;
  --color-dimgray-300: #4f4a4a;
  --color-dimgray-400: #4f3c3c;
  --color-dimgray-500: #562b2b;
  --color-seagreen: rgba(94, 137, 87, 0.79);
  --color-darkolivegreen: rgba(85, 124, 79, 0.79);
  --color-slategray: #687088;
  --color-darkgray-100: #a69e9e;
  --color-limegreen: #16c107;
  --color-snow-100: #fdf9f9;
  --color-snow-200: #fdf8f8;
  --color-gainsboro: #d9d9d9;
  --color-darkslategray-100: #383a3f;
  --color-darkslategray-200: #333;
  --color-royalblue: #0075ff;
  --color-navy: #20097c;
  --color-forestgreen-100: #039924;
  --color-cornflowerblue-100: #7f99f8;
  --color-cornflowerblue-200: #7597ee;
  --color-rosybrown-100: #aa7878;
  --color-rosybrown-200: #977b7b;
  --color-goldenrod-100: #f9cd5c;
  --color-aquamarine: #1deab9;
  --color-whitesmoke-100: #f5f5f5;
  --color-paleturquoise: #a0ede8;
  --color-brown: #761d1d;
  --color-mediumslateblue: #5b58ea;
  --color-mediumblue: #1b24f1;

  /* border radiuses */
  --br-xs: 8px;
  --br-sm: 10px;
  --br-md: 15px;
  --br-lg: 20px;
  --br-xl: 40px;
}
